.Home {
    @include flex-vertical;
    @include roboto;
    box-sizing: border-box;
    padding: 0 3rem;

    .Home-content {
        @include flex-horizontal;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 2rem;;

        .Home-content__information {
            @include flex-vertical;
            justify-content: space-between;
            width: 60%;
            padding-right: 1.25rem;
        }

        .Elim5Minion {
            width: 40%;
        }
    }

    .Home-content__information-title {
        color: $pink;
        margin-bottom: 2rem;
    }

    .Home-content__information-description {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .Home-content__information-description, .Home-content__information-footer {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        letter-spacing: 1px;
    }

    .btn-start-demo {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        flex-grow: 0;
        align-self: flex-start;
    }

    @media (max-width: 850px) {
        .Home-content {
            flex-direction: column-reverse;
            align-items: center;
            padding: 0;

            .Home-content__information {
                width: 100%;
                padding-right: 0;
            }
        }

        .btn-start-demo {
            align-self: center;
        }
    }
}
