.Home {
    @include roboto;
    @include flex-vertical;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 4rem;
    padding-top: 1rem;

    .Footer {
        margin: 0 -4rem;
        padding: 2rem 4rem;
    }

    .Home-content {
        @include flex-horizontal;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .Home-content__information {
            width: 60%;
            padding-right: 1rem;
        }

        .Elim5Minion {
            width: 40%;
        }
    }

    .Home-content__information-title {
        color: $pink;
        margin-bottom: 2rem;
    }

    .Home-content__information-description {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .Home-content__information-description, .Home-content__information-footer {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        letter-spacing: 1px;
    }

    .btn-start-demo {
        width: fit-content;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
