// Palette colors
$blue:#393FD0;
$purple:#3A3061;
$black: #33333A;
$green: #2FCEC5;
$green-linear : linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
$red: #D61043;
$white: #fff;

// field text vars

// border radius

// others
