// Palette colors
$pink:#E272AB;
$pink-secondary: #E8BCCB;
$purple:#3A3061;
$black: #000;
$green: #2FCEC5;
$green-linear : linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
$red: #F1635D;
$gray: #707070;
$white: #fff;

// field text vars

// border radius

// others
