.Button {
    @include input-base;
    @include roboto($weight: 700);
    border-radius: 100px;
    background-color: $black;
    color: $white;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .75rem 2rem;
    text-transform: uppercase;
    transform: scale(1);
    transition: transform .25s, background-color .25s;

    &:hover {
        cursor: pointer;
        background-color: lighten($black, 15);
    }

    &:active {
        transform: scale(.97);
    }

    &.primary {
        background-color: $gray;
        border: 1px solid transparent;
        color: $white;
        transition: background-color .25s, color .25s, transform .25s;

        &:hover {
            background-color: $white;
            color: $gray;
            border-color: $gray;
        }
    }
}
